.ant-tabs-tab {
    color: #5f5f5f !important;
  }

  .ant-tabs-tab-active {
    color: #008910 !important;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #008910 !important;
    font-weight: 500;
    padding: 2px;
 }

 .ant-btn-primary {
  background: #008910;
  border-color: transparent;
}

.ant-btn-primary:hover {
  background: #00680c !important;
}
